<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    

    

    <p>Click the button to get your coordinates.</p>

    <button onclick="getLocation()">Try It</button>

    <p id="demo"></p>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <div id="map-canvas"></div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <div id="map-canvas"></div>

    <script>
        var map;
        var infowindow;
        var lat; var long;
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
            lat = position.coords.latitude;
            long = position.coords.longitude;
            alert("location is get");

            var pyrmont = new google.maps.LatLng(lat, long);

            map = new google.maps.Map(document.getElementById('map-canvas'), {
                center: pyrmont,
                zoom: 15
            });

            var request = {
                location: pyrmont,
                radius: 200,
                //types: ['hospital', 'health']
                types: ["restaurant", "food", "establishment"],

                //name: "McDonald's"

                // this is where you set the map to get the hospitals and health related places
            };
            infowindow = new google.maps.InfoWindow();
            alert("infowindow");
            var service = new google.maps.places.PlacesService(map);
            alert("ok");
            service.nearbySearch(request, callback);

        }
    </script>

</body>
</html>
